<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <form method="GET">
        <select id="source" onchange="getDestinations(this.value)">
            <option> </option>
            {% for rows in data %}
            <option> {{rows['source']}} </option>
            {%endfor%}

        </select>
    </form>

    <form method="GET">
        <select id="destinations" onchange="getTrips()">
            <option> </option>
        </select>

    </form>

    <select id="type" onchange="getTrips()">
        <option> Standard </option>
        <option> Business </option>
    </select>

    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Source</th>
                <th scope="col">Source Time</th>

                <th scope="col">Destination</th>
                <th scope="col">destination_time</th>

                <th scope="col">Price</th>

                <th scope = "col"> Date and Seats    </th>

                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody id="tableBody">



        </tbody>
    </table>

    <form method="POST">
        <button type="submit"> Login</button>
    </form>
</body>

<script>
    function getDestinations(value) {
        $.ajax({
            method: "GET",
            url: "/destinations",
            data: { "source": value }
        }).done((data) => {

            destination = document.getElementById("destinations")
            destination.innerHTML = "<option> </option>"
            for (let index = 0; index < data.length; index++) {
                const element = data[index];
                destination.innerHTML += `<option> ${element.destination} </option>`
            }

        })
    }

    function getTrips() {

        source = document.getElementById("source").value
        destination = document.getElementById("destinations").value
        type = document.getElementById("type").value
        console.log(type)
        let multiplier = { "Business": 2, "Standard": 1 }


        if (source == "" || destination == "") {
            return;
        }
        $.ajax({
            method: "GET",
            url: "/getTrips",
            data: { "source": source, "destination": destination, "multiplier": multiplier[type] }
        }).done((data) => {
            console.log(data)

            tableBody = document.getElementById("tableBody")
            tableBody.innerHTML = ""

            let currentDate = new Date().toJSON().slice(0, 10);
            for (let index = 0; index < data.length; index++) {

                const element = data[index];
                did = "d" + element.id
                sid = "s" + element.id
                console.log(did)
                tableBody.innerHTML += `
                <tr>
                    <th scope="row">${element.id}</th>
                    <td>${element['source']}</td>
                    <td>${element['source_time']}</td>
                    <td>${element['destination']}</td>
                    <td>${element['destination_time']}</td>
                    <td>${element['price']}</td>
                    <td>DATE OF DEPARTURE
                    <input required id= ${did} value = ${currentDate} name="date" onchange="getSeats(this.value)" type="date" min="${currentDate}">
                    SEATS
                    <input required id= ${sid} name="seats" type="number" min="0" max="50">
                     </td>
                    <td><button onclick="book(this.id)" id = ${element.id}  class="btn text-white bg-success">Book</button></td>
                </tr>

                `
            }

        })
    }

    function book(id) {
        type = document.getElementById("type").value
        console.log(type)
        let multiplier = { "Business": 2, "Standard": 1 }
        seats = document.getElementById("s" + id).value
        if (seats > 50)
        {
            alert("CANT BOOK MORE THAN 50")
            return;
        }
        departure = document.getElementById("d"+id).value
        console.log(id)
        
        

        $.ajax({
            method: "POST",
            url: "/book",
            data: { "id": id, "multiplier": multiplier[type], "date" : departure, "seats" : seats   },
            success: function (response) { document.getElementById(id).textContent =  response}
        })
    }

    function checkSeats(id, seats){
        $.ajax({
            url: "/getSeats",
            method : "GET",
            data : {"trip_id" : id, "date" : departure},
            success : function(response) { if (seats > parseInt(response)) {alert("SEATS FILLED"); return -1; }}
        })
    }
    function getSeats(value) {
        
    }

    function bookSeat() {
        $.ajax({
            url: "/book",
            method: "POST"
        }).done((data)=>{
            document.write(data)
        })
    }
</script>

</html>